<div class="col-md-12">
    <div class="row">
        <table class="table" ng-repeat="data in bplistdata">
            <thead>
                <tr>
                    <th>OWNER NAME</th>
                    <th>CARD CODE</th>
                    <th>CARD NAME</th>
                    <th>DOC NUM</th>
                    <th>ITEM CODE</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{data[0]}}</td>
                    <td>{{data[1]}}</td>
                    <td>{{data[2]}}</td>
                    <td>{{data[3]}}</td>
                    <td>{{data[4]}}</td>
                    <td>{{data[5]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>