<ui-view>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<h1>Welcome to Vendor Portal</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</ui-view>