<div class="login">
    <div class="login-header" style="margin-top: 20%">
        <h1 id="forallheader">Login</h1>
    </div>
    <form ng-submit="login(user)">
        <div class="login-form" style=" margin-top: -15px;">
            <h3 id="forallheader">Database:</h3>
            <input id="database" type="text" placeholder="Database Name" ng-model="user.CompanyDB">
            <br>
            <h3 id="forallheader">Username:</h3>
            <input id="mobilenumber" type="text" placeholder="User Name" ng-model="user.UserName">
            <br>
            <h3 id="forallheader">Password:</h3>
            <input id="password" type="password" placeholder="Password" required ng-model="user.Password">
            <br>
            <input type="submit" value="Login" ng-click="loginbutton(user)" class="login-button" />
            <br>
            <p class="text-center" style="margin-top:10px;color: white;">
                or New User <a id="forallheader" ui-sref="signup" style="color: white;" ng-click="signup()">sign up</a> here
            </p>
            <p style="text-align: center;color: white;"><a id="forallheader" class="text-center" style="margin-top: 20px;color: white;" ui-sref="forgetpassword">Forget Password?<a></p>
            <br>
        </div>
    </form>
</div>
<script type="text/ng-template" id="registrationpopup">
    <div class="col-md-12" style="background-color: #ff8080;text-align: center;">
        <div class="model-header">
            <h2 id="forallheader">
                Log in status..
            </h2>
        </div>
        <div class="model-body">
            <h1 id="forallheader" style="font-family: 'Acme', sans-serif;">
                
                {{response}}
                
            </h1>
        </div>
        <div class="model-footer">
            <h1 id="forallheader"> <button  class="btn btn-success" ng-click="close()" >OK</button></h1>
        </div>
    </div>
</script>

<script type="text/ng-template" id="signuppop.html">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2 class="form-heading text-center account">New Account</h2>
        </div>
        <div class="col-md-12">
            <h3 class="form-heading accountinfo">Account Information</h3>
        </div>
    </div>
    <div class="modal-body newbody1">
        <div class="col-md-12">
            <div class="form-fields formfieldss">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input type="text" id="username" ng-model="register.account_name" class="form-control input-sm" name="fullName" required placeholder="Account Name" only-alphabets>
                    </div>
                    <div class="col-md-6">
                        <input id="username" ng-model="register.created_by" ng-disabled="!register.account_name" class="form-control input-sm" name="fullName" placeholder="Created By" only-alphabets>
                    </div>
                    <br/>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input id="username" ng-model="register.type" class="form-control input-sm" name="fullName" placeholder="Type" ng-disabled="!register.created_by" only-alphabets>
                        </div>
                    <div class="col-md-6">
                        <input id="username" ng-model="register.contact_person" class="form-control input-sm" name="fullName" ng-disabled="!register.type" placeholder="Contact Person" only-alphabets>
                    </div>
                    <br/>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input id="username" ng-model="register.website" class="form-control input-sm" name="fullName" placeholder="Website" ng-disabled="!register.contact_person" only-alphabets>
                    </div>
                    <div class="col-md-6">
                        <input id="username" ng-model="register.phone" class="form-control input-sm" name="fullName" placeholder="Phone" ng-disabled="!register.website" only-alphabets> 
                    </div>
                    <br/>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <input id="username" ng-model="register.description" class="form-control input-sm" name="fullName" placeholder="Description" ng-disabled="!register.phone" only-alphabets>
                    </div>
                    <div class="col-md-6">
                        <input id="username" ng-model="register.industry" class="form-control input-sm" name="fullName" placeholder="Industry" ng-disabled="!register.description" only-alphabets>
                    </div>
                    <br/>
                </div>
                <br><br><br>
                <div class="col-md-12">
                    <div class="col-md-12 sinleline">
                            <input id="username" ng-model="register.employee" class="form-control input-sm" name="fullName" placeholder="Employess" ng-disabled="!register.industry" only-alphabets>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
     <!-- <div class="col-md-12 text-center"> -->
        <!-- <div class="col-md-12 text-center"> -->
            <button class="btn btn-primary next" ng-click="next()" ng-disabled="!register.employee">Next</button>
            <button class="btn btn-danger cancelbutton" ng-click="cancel()">Cancel</button>
        <!-- </div> -->
    </div>

     
</script>

<script type="text/ng-template" id="signuppopnext.html">

   <div class="col-md-12">
            <h3 class="form-heading" style="margin-top: 60px;margin-left: 30px;font-family: 'Salsa';font-size: 25px;">Address Information</h3>
    </div>
    <div class="col-md-12 headingsofnext">
        <div class="col-md-6">
            <h3 class="form-heading" style="margin-left: 14px;font-family: 'Salsa';font-size: 25px;">Bill To Address</h3>
        </div>
        <div class="col-md-6">
            <h3 class="form-heading" style="font-family: 'Salsa';font-size: 25px;">Ship To Address</h3>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-fields" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <input id="username" ng-model="register.bill_to_id" class="form-control input-sm" name="fullName" placeholder="Bill To Id" only-alphabets>
                </div>
                <div class="col-md-6">
                    <input id="username" ng-model="register.ship_to_id" class="form-control input-sm" name="fullName" placeholder="Ship To Id" ng-disabled="!register.bill_country" only-alphabets>
                </div>
                <br/>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input id="username" ng-model="register.bill_city" class="form-control input-sm" name="fullName" placeholder="City" ng-disabled="!register.bill_to_id" only-alphabets>
                </div>
                <div class="col-md-6">
                    <input id="username" ng-model="register.ship_city" class="form-control input-sm" name="fullName" placeholder="City" ng-disabled="!register.ship_to_id" only-alphabets>
                </div>
                <br/>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input id="username" ng-model="register.bill_state" class="form-control input-sm" name="fullName" placeholder="State" ng-disabled="!register.bill_city" only-alphabets>
                </div>
                <div class="col-md-6">
                    <input id="username" ng-model="register.ship_state" class="form-control input-sm" name="fullName" placeholder="State" ng-disabled="!register.ship_city" only-alphabets>
                </div>
                <br/>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input id="username" ng-model="register.bill_postal_code" class="form-control input-sm" name="fullName" placeholder="Zip/Postal Code" ng-disabled="!register.bill_state" only-alphabets>
                </div>
                <div class="col-md-6">
                    <input id="username" ng-model="register.ship_postal_code" class="form-control input-sm" name="fullName" placeholder="Zip/Postal Code" ng-disabled="!register.ship_state" only-alphabets>
                </div>
                <br/>
            </div>
            <br><br><br>
            <div class="col-md-12">
                <div class="col-md-6">
                    <input id="username" ng-model="register.bill_country" class="form-control input-sm" name="fullName" placeholder="Country" ng-disabled="!register.bill_postal_code" only-alphabets>
                </div>
                <div class="col-md-6">
                    <input id="username" ng-model="register.ship_country" class="form-control input-sm" name="fullName" placeholder="Country" ng-disabled="!register.ship_postal_code" only-alphabets>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center submitbutton" style="margin-top: 30px;">
        <button class="btn btn-primary">Back</button>
        <button class="btn btn-primary dangerbutton" ng-disabled="!register.ship_country" ng-click="submitdataa(register)">Submit</button>
        <button class="btn btn-danger dangerbutton" ng-click="cancel()">Cancel</button>
        <!-- <button class="btn btn-success">Clear</button> -->
        <!-- <button onclick="document.getElementById('username').value = ''">Clear input field</button> -->
    </div>

    </div>
    </div>
    <div class="modal-footer text-center">
        <center>
            <!-- <button class="btn btn-primary" type="button" ng-click="close()" style="background: rgba(0, 0, 0, 0.98);">Ok</button> -->
        </center>
    </div>


</script>

<style type="text/css">
body {
    background: url('images/1.jpg')fixed;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-size: cover;
}

#forallheader{
    margin: 0;
    padding: 0;
}

.login {
    /*margin: 0 auto;*/
    max-width: 500px;
}

.login-header {
    color: #fff;
    text-align: center;
    font-size: 300%;
}

}
.login-form {
    border: .5px solid #fff;
    background: #4facff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.login-form h3 {
    text-align: left;
    margin-left: 40px;
    color: #fff;
}
.login-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}
.login input[type="text"],
.login input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    font-family: 'Ubuntu', sans-serif;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}
.login-button {
    height: 30px;
    width: 100px;
    background: black;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.sign-up {
    color: #f2f2f2;
    margin-left: -70%;
    cursor: pointer;
    text-decoration: underline;
}
.no-access {
    color: #E86850;
    margin: 20px 0px 20px -57%;
    text-decoration: underline;
    cursor: pointer;
}
.try-again {
    color: #f2f2f2;
    text-decoration: underline;
    cursor: pointer;
}

/*Pop up css*/
.account{
    margin-top: 60px;
    font-family: 'Salsa';
    font-size: 35px;
    color: black
}
.accountinfo{
    margin-top: 30px;
    font-family: 'Salsa';
    margin-left: 15px;
    font-size: 25px;
}
.formfieldss{
    margin-top: 20px;
}
.next{
    margin-top: 37px;
    width: 70px;
    margin-left: 225px;
}
.cancelbutton{
    margin-top: 38px;
}
.submitbutton{
    margin-top: 30px;
    margin-bottom: 28px;
}
.newbody1{
    margin-bottom: 25px;
}

/*-------------------*/

/*MOBILE RESPONSIVE*/
@media only screen and (min-width: 150px) and (max-width: 530px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }
    
    .sign-up,
    .no-access {
        margin: 10px 0;
    }
    
    .login-button {
        margin-bottom: 10px;
    }
}

</style>

