<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 datefilter">
            <div class="row">
                <div class="col-md-4">
                    <label>FROM DATE</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group" moment-picker="ctrl.fromdatepicker" format="YYYYMMDD">
                        <span class="input-group-addon">
                            <i class="octicon octicon-calendar"></i>
                        </span>
                        <input class="form-control" placeholder="Select From Date" ng-model="ctrl.fromdatepicker" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" moment-picker="ctrl.fromtimepicker" format="HH:mm:ss">
                        <span class="input-group-addon">
                            <i class="octicon octicon-clock"></i>
                        </span>
                        <input class="form-control" placeholder="Select a time" ng-model="ctrl.fromtimepicker" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 datefilter">
            <div class="row">
                <div class="col-md-4">
                    <label>TO DATE</label>
                </div>
                <div class="col-md-4">
                    <div class="input-group" moment-picker="ctrl.todatepicker" format="YYYYMMDD">
                        <span class="input-group-addon">
                            <i class="octicon octicon-calendar"></i>
                        </span>
                        <input class="form-control" placeholder="Select To Date" ng-model="ctrl.todatepicker" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" moment-picker="ctrl.totimepicker" format="HH:mm:ss">
                        <span class="input-group-addon">
                            <i class="octicon octicon-clock"></i>
                        </span>
                        <input class="form-control" placeholder="Select a time" ng-model="ctrl.totimepicker" ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary search" ng-click="datetimer(ctrl)" style="margin-top: 20px;">Search</button>
        </div>
        <div class="col-md-12" ng-hide="filterdatevalue">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>OWNER NAME</th>
                            <th>CARD CODE</th>
                            <th>CARD NAME</th>
                            <th>DOC NUM</th>
                            <th>ITEM CODE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in purchaselistdata">
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td>{{data[5]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12" ng-show="filterdatevalue">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>OWNER NAME</th>
                            <th>CARD CODE</th>
                            <th>CARD NAME</th>
                            <th>DOC NUM</th>
                            <th>ITEM CODE</th>
                            <th>DESCRIPTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in filterdatevalue">
                            <td>{{data[0]}}</td>
                            <td>{{data[1]}}</td>
                            <td>{{data[2]}}</td>
                            <td>{{data[3]}}</td>
                            <td>{{data[4]}}</td>
                            <td>{{data[5]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 

<style type="text/css">
.search {
    color: #fff;
    background-color: #333;
    border-color: #333;
    font-size: small;
       /*margin-top: -7em;
    margin-left: 32em;*/
}
.datefilter{
    margin-top: 35px;
}
</style>