<div class="col-md-12 col-xs-12 xol-sm-12">
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<!-- <div id="mySidenav" class="sidenav">
  					<a href="#" id="about">Purchase Order</a>
  					<a href="#" id="blog">Sales Order</a>
  					<a href="#" id="projects">GRPO</a>
  					<a href="#" id="contact">LogOut</a>
  				</div> -->
  				<div class="sidenav">
            <a ng-click="BPlist()">BP List</a>
  					<a ng-click="purchase()">Purchase Order</a>
  					<a ng-click="salesorder()">Sales Order</a>
  					<a ng-click="grpo()">GRPO</a>
  					<a ng-click="logout()">LogOut</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
        	<div class="row">
            	<ui-view></ui-view>
        	</div>
    	</div>
    </div>
</div>
<style type="text/css">
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: max-content;; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

</style>